<div class="flex justify-between">
    <div class="flex gap-2">
        <!-- Your page numbers here -->
        <div *ngFor="let page of pages"
            class="cursor-pointer rounded-2xl border border-secondary hover:bg-dark-primary hover:border-primary transition-all duration-200 py-2 px-4 text-primary">
            {{page}}
        </div>
    </div>

    <div *ngIf="showLoadMore">
        <app-button [variant]="'normal'" [type]="'transparent'" [disabled]="pages.length === 1"
            [lucideIcon]="'RectangleEllipsis'" (clicked)="onLoadMore()" [label]="'Load More'"></app-button>
    </div>

    <div class="flex items-center">
        <app-button [variant]="'normal'" [type]="'transparent'" [disabled]="pages.length === 1"
            [lucideIcon]="'RefreshCw'" (clicked)="onRefresh()"></app-button>
        <div class="flex text-primary text-sm gap-1">{{numberOfItems}} <span class="text-secondary text-sm">items</span>
        </div>
    </div>

</div>