<div class="flex justify-between items-center">
    <div class="flex gap-2 items-center">
        <app-button *ngIf="currentPage > 3" [variant]="'normal'" [type]="'transparent'"
            [borderClass]="'border border-slate'" [buttonSize]="'w-12 h-12'" (clicked)="onFirstPage()" [label]="'1'">
        </app-button>

        <app-button *ngIf="showStartEllipsis" [variant]="'normal'" [type]="'transparent'"
            [borderClass]="'border border-slate'" [buttonSize]="'w-12 h-12'" [iconSize]="16" [lucideIcon]="'Ellipsis'"
            (clicked)="onPreviousPage()">
        </app-button>

        <app-button *ngFor="let page of visiblePages" [variant]="'normal'"
            [type]="page === currentPage ? 'action' : 'transparent'"
            [borderClass]="page === currentPage ? 'border action' : 'border border-slate'" [buttonSize]="'w-12 h-12'"
            (clicked)="onPageClick(page)" [label]="page.toString()">
        </app-button>

        <app-button *ngIf="showEndEllipsis" [variant]="'normal'" [type]="'transparent'"
            [borderClass]="'border border-slate'" [buttonSize]="'w-12 h-12'" [iconSize]="16" [lucideIcon]="'Ellipsis'"
            (clicked)="onNextPage()">
        </app-button>

        <app-button *ngIf="currentPage < totalPages - 2" [variant]="'normal'" [type]="'transparent'"
            [borderClass]="'border border-slate'" [buttonSize]="'w-12 h-12'" (clicked)="onLastPage()"
            [label]="totalPages.toString()">
        </app-button>
    </div>

    <div *ngIf="showLoadMore">
        <app-button [variant]="'normal'" [type]="'transparent'" [lucideIcon]="'RectangleEllipsis'"
            (clicked)="onLoadMore()" [label]="'Load More'">
        </app-button>
    </div>

    <div class="flex items-center gap-2">
        <app-button [variant]="'normal'" [type]="'transparent'" [lucideIcon]="isRefreshing ? 'Loader2' : 'RefreshCw'"
            [disabled]="isRefreshing" (clicked)="onRefresh()">
        </app-button>
        <div class="flex text-primary text-md gap-1 font-semibold">
            {{numberOfItems}} <span class="text-secondary text-sm">Item</span>
        </div>
    </div>
</div>