<div class="flex flex-col gap-7 mt-5">
    <div class="flex gap-12 justify-between">
        <h3 class="flex items-center text-white text-base font-semibold">Recent Activities</h3>
        <div class="flex gap-4">
            <button type="button"
                class="flex justify-between items-center cursor-pointer gap-1 bg-dark-primary px-3 py-2 rounded-xl text-sm text-gray w-[200px]">
                <span>Last 30 Days</span>
                <svg class="w-4 h-4 text-secondary" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
                        clip-rule="evenodd" />
                </svg>
            </button>
            <button type="button"
                class="flex justify-between items-center cursor-pointer gap-1 bg-dark-primary px-3 py-2 rounded-xl text-sm text-gray w-50 w-[200px]">
                <span>Aug 30</span>
                <svg class="w-4 h-4 text-secondary" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
                        clip-rule="evenodd" />
                </svg>
            </button>

            <form role="search" class="max-w-xl w-[247px]">
                <div class="relative">
                    <input type="search" placeholder="Search"
                        class="w-full h-10 bg-dark-primary rounded-xl pl-10 pr-4 text-sm text-white placeholder:text-gray focus:outline-none focus:ring-1 focus:ring-action"
                        required />
                    <button type="submit" class="absolute text-white left-3 top-1/2 -translate-y-1/2">
                        <svg class="w-4 h-4 text-secondary" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                        <span class="sr-only">Search</span>
                    </button>
                    <button class="absolute right-1 top-1/2 -translate-y-1/2 cursor-pointer bg-orange-500 rounded-lg">
                        <svg class="w-6 h-6 text-white p-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 6h18"/><path d="M7 12h10"/><path d="M10 18h4"/></svg>
                    </button>

                </div>
            </form>
        </div>
    </div>


    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left">
            <thead class="text-xs text-secondary border-b-indigo-500">
                <tr class="border-b border-dark-secondary">
                    <th scope="col" class="px-6 py-4 font-medium">
                        Coin
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" class="inline-block ml-1">
                            <path d="M6 9l6 6 6-6" />
                        </svg>
                    </th>
                    <th scope="col" class="px-6 py-4 font-medium">
                        Transaction
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" class="inline-block ml-1">
                            <path d="M6 9l6 6 6-6" />
                        </svg>
                    </th>
                    <th scope="col" class="px-6 py-4 font-medium">
                        ID
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" class="inline-block ml-1">
                            <path d="M6 9l6 6 6-6" />
                        </svg>
                    </th>
                    <th scope="col" class="px-6 py-4 font-medium">
                        Date
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" class="inline-block ml-1">
                            <path d="M6 9l6 6 6-6" />
                        </svg>
                    </th>
                    <th scope="col" class="px-6 py-4 font-medium">
                        Status
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" class="inline-block ml-1">
                            <path d="M6 9l6 6 6-6" />
                        </svg>
                    </th>
                    <th scope="col" class="px-6 py-4 font-medium">
                        Fees
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" class="inline-block ml-1">
                            <path d="M6 9l6 6 6-6" />
                        </svg>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr class="border-b border-dark-secondary" *ngFor="let transaction of transactions">
                    <td class="px-6 py-4">
                        <div class="flex items-center gap-3">
                            <img [src]="getCoinIcon(transaction.coin.symbol)" [alt]="transaction.coin.type"
                                class="w-8 h-8">
                        </div>
                    </td>
                    <td class="px-6 py-4">
                        <div class="flex items-center gap-3">
                            <div class="flex flex-col">
                                <span class="text-white font-medium">${{ transaction.coin.amount }}</span>
                                <span class="text-secondary text-[11px]">{{ transaction.coin.type }}</span>
                            </div>
                        </div>
                    </td>
                    <td class="px-6 py-4 text-secondary">{{ transaction.id }}</td>
                    <td class="px-6 py-4 text-secondary">{{ transaction.date }}</td>
                    <td class="px-6 py-4">
                        <span class="px-3 py-1 rounded-full text-xs"
                            [style.background-color]="transaction.status.color + '1A'"
                            [style.color]="transaction.status.color">
                            {{ transaction.status.text }}
                        </span>
                    </td>
                    <td class="px-6 py-4 text-secondary">{{ transaction.fees }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>