<div class="flex items-center justify-between px-12 py-4 bg-dark-primary text-primary">


    <!-- Left section -->

    <div class="flex gap-4">
        <div class="flex items-center">
            <a href="">
                <lucide-icon [img]="LayoutDashboard" [size]="25"></lucide-icon>
            </a>
        </div>

        <app-search-bar></app-search-bar>
    </div>

    <!-- Right section -->
    <div class="flex items-center gap-3 text-primary">
        <!-- Language selector -->
        <app-button type="darkSecondary" variant="dropdown" label="English" [dropdownOptions]="[
          { label: 'English', value: 'en' },
          { label: 'Spanish', value: 'es' },
          { label: 'French', value: 'fr' }
        ]" (optionSelected)="onLanguageSelected($event)">
        </app-button>

        <!-- Wallet button -->
        <app-button type="darkSecondary" lucideIcon="Wallet">
        </app-button>
        <!-- Settings button -->
        <app-button type="darkSecondary" lucideIcon="Settings">
        </app-button>

        <!-- Notification button -->
        <app-button type="darkSecondary" lucideIcon="Bell">
        </app-button>
        
    </div>
</div>