<div class="flex items-center justify-between px-6 py-4 bg-dark-primary text-text-primary">


    <!-- Left section -->

    <div class="flex items-center gap-4">
        <div *ngIf="false" class="flex items-center">
            <img src="assets/images/mega-menu.png" alt="Menu" class="w-5 h-5 cursor-pointer">
        </div>

        <app-search-bar></app-search-bar>
    </div>

    <!-- Right section -->
    <div class="flex items-center gap-3 text-white">
        <!-- Language selector -->
        <app-button type="dark" variant="dropdown" label="English" [dropdownOptions]="[
          { label: 'English', value: 'en' },
          { label: 'Spanish', value: 'es' },
          { label: 'French', value: 'fr' }
        ]" (optionSelected)="onLanguageSelected($event)">
        </app-button>

        <!-- Wallet button -->
        <app-button type="dark" lucideIcon="Wallet">
        </app-button>
        <!-- Settings button -->
        <app-button type="dark" lucideIcon="Settings">
        </app-button>

        <!-- Notification button -->
        <app-button type="dark" lucideIcon="Bell">
        </app-button>
        
    </div>
</div>