<div class="absolute rounded-xl overflow-hidden cursor-pointer transition-all duration-200 border border-slate-950/20 hover:brightness-110"
    [ngClass]="[ getColorClass(asset.change24h), selected ? 'ring-2 ring-white ring-offset-2 ring-offset-slate-950' : '' ]"
    [ngStyle]="{ left: node.x + 'px', top: node.y + 'px', width: node.width + 'px', height: node.height + 'px' }"
    (click)="onClick()">
    <div class="p-2 h-full flex flex-col items-center justify-center">
        <ng-container [ngSwitch]="true" class="flex flex-col items-center gap-2">
            <ng-container *ngSwitchCase="node.width > 150 && node.height > 100">
                <img [src]="asset.icon" [alt]="asset.symbol" class="w-[64px] h-[64px] rounded-2xl flex-shrink-0">
            </ng-container>

            <ng-container *ngSwitchCase="node.width > 80 && node.height > 60">
                <div class="flex items-center gap-2">
                    <h1 class="text-white text-[60px]">{{ asset.symbol }}</h1>
                </div>
                <div>
                    <div class="text-white/90 text-[40px] font-bold">{{ formatPrice(asset.price) }}</div>
                    <div class="text-white/80 text-[40px]">{{ formatChange(asset.change24h) }}</div>
                </div>
            </ng-container>

            <ng-container *ngSwitchDefault>
                <div class="text-white text-xs truncate">{{ asset.symbol }}</div>
            </ng-container>

        </ng-container>
    </div>
</div>