<div class="absolute rounded-xl overflow-hidden cursor-pointer transition-all duration-200 border border-slate-950/20 hover:brightness-110"
    [ngClass]="[ getColorClass(asset.change24h), selected ? 'ring-2 ring-white ring-offset-2 ring-offset-slate-950' : '' ]"
    [ngStyle]="{ left: node.x + 'px', top: node.y + 'px', width: node.width + 'px', height: node.height + 'px' }"
    (click)="onClick()">
    <div class="p-2 h-full flex flex-col items-center justify-center gap-1">
        <ng-container [ngSwitch]="getCellSize()">
            <ng-container *ngSwitchCase="'large'">
                <img [src]="asset.icon" [alt]="asset.symbol" class="cell-icon rounded-2xl mb-2">
                <div class="text-white font-bold cell-symbol">{{ asset.symbol }}</div>
                <div class="text-white/90 font-bold cell-price">{{ formatPrice(asset.price) }}</div>
                <div class="text-white/80 cell-change">{{ formatChange(asset.change24h) }}</div>
            </ng-container>

            <ng-container *ngSwitchCase="'medium'">
                <img [src]="asset.icon" [alt]="asset.symbol" class="cell-icon rounded-lg mb-1">
                <div class="text-white font-bold cell-symbol">{{ asset.symbol }}</div>
                <div class="text-white/80 cell-change">{{ formatChange(asset.change24h) }}</div>
            </ng-container>

            <ng-container *ngSwitchDefault>
                <div class="text-white font-bold truncate text-xs">{{ asset.symbol }}</div>
            </ng-container>
        </ng-container>
    </div>
</div>