<div class="flex flex-col items-center justify-center h-screen">
    <div class="grid grid-cols-2 bg-midnight px-3 py-6 rounded-2xl">
        <div class="flex flex-col items-left justify-center bg-cool-gray py-12 px-16 rounded-2xl">
            <div class="flex flex-col items-left justify-center">
                <h1 class="text-4xl font-bold text-primary">Create Your Account
                </h1>
                <span class="text-primary/70 text-2xl">
                    Setting up an account takes less than 1 minute.
                </span>
            </div>

            <div class="my-6">
                <app-button variant="toggle" dropShadow="drop-shadow-none" [toggleOptions]="toggleOptions" [selectedToggleValue]="selectedToggleValue"
                    (toggleChanged)="onToggleChanged($event)">
                </app-button>
            </div>

            <form class="flex flex-col gap-5" type="submit">
                <div class="flex flex-col">
                    <input class="bg-graphite rounded-full border-none p-5" type="email" id="email"
                        placeholder="Email Address">
                </div>
                <div class="flex flex-col">
                    <input class="bg-graphite rounded-full border-none p-5" type="password" id="password"
                        placeholder="Password">
                </div>
                <div class="flex flex-col mb-2">
                    <input class="bg-graphite rounded-full border-none p-5" type="text" id="referralCode"
                        placeholder="Referral Code (optional)">
                </div>
                <app-button type="action" 
                            variant="normal" 
                            label="Continue" 
                            rounded="rounded-full" 
                            padding="px-8 py-4"
                            iconPosition="right"
                            [fullWidth]="true"
                            [lucideIcon]="arrowRightIcon"></app-button>
            </form>
        </div>

        <div class="flex flex-col items-center justify-center">

            <div class="flex">

            </div>
        </div>

    </div>
</div>