<div class="bg-transparent flex flex-col gap-14">
    <div class="flex justify-between text-primary font-semibold">
        <h2 class="text-lg">Crypto Calculator</h2>
        <lucide-icon [img]="calculatorIcon" [size]="28"></lucide-icon>
    </div>

    <div class="relative grid grid-cols-1 gap-2">
        <app-crypto-input-field></app-crypto-input-field>

        <button
            class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10 bg-dark-primary p-4 text-primary rounded-full border-[22px] border-dark-secondary shadow-lg">
            <lucide-icon [img]="arrowupanddownIcon" [size]="28"></lucide-icon>
        </button>

        <app-crypto-input-field></app-crypto-input-field>
    </div>
</div>