<div class="flex flex-col gap-8 p-2">
    <div class="flex justify-between items-center text-primary font-semibold">
        <h1 class="text-lg ml-8">Ethereum Markets</h1>
        <lucide-icon [img]="scan" [size]="28"></lucide-icon>
    </div>

    <div>
        <table class="w-full text-primary">
            <thead class="border-b border-slate-secondary">
                <tr>
                    <th class="px-4 py-5 text-left">Icon</th>
                    <th class="px-4 py-5 text-left">Name</th>
                    <th class="px-4 py-5 text-left">Price</th>
                    <th class="px-4 py-5 text-left">Volume</th>
                </tr>
            </thead>
            <tbody class="border-b border-slate-secondary">
                <tr>
                    <td class="py-2">
                        <img src="https://assets.coingecko.com/coins/images/279/large/ethereum.png?1747033579"
                            alt="Ethereum" class="w-10 h-10 rounded-full">
                    </td>
                    <td class="py-3">Ethereum</td>
                    <td class="py-3">$1,700</td>
                    <td class="py-3">$100,000,000</td>
                </tr>
                <tr>
                    <td class="py-3">
                        <img src="https://assets.coingecko.com/coins/images/279/large/ethereum.png?1747033379"
                            alt="Ethereum" class="w-10 h-10 rounded-full">
                    </td>
                    <td class="py-3">Ethereum</td>
                    <td class="py-3">$1,700</td>
                    <td class="py-3">$100,000,000</td>
                </tr>
                <tr>
                    <td class="py-3">
                        <img src="https://assets.coingecko.com/coins/images/279/large/ethereum.png?1747033379"
                            alt="Ethereum" class="w-10 h-10 rounded-full">
                    </td>
                    <td class="py-3">Ethereum</td>
                    <td class="py-3">$1,700</td>
                    <td class="py-3">$100,000,000</td>
                </tr>
                <tr>
                    <td class="pt-3 pb-7">
                        <img src="https://assets.coingecko.com/coins/images/279/large/ethereum.png?1747033379"
                            alt="Ethereum" class="w-10 h-10 rounded-full">
                    </td>
                    <td class="pt-3 pb-7">Ethereum</td>
                    <td class="pt-3 pb-7">$1,700</td>
                    <td class="pt-3 pb-7">$100,000,000</td>
                </tr>
            </tbody>
        </table>
        <div class="flex justify-center mt-4">
            <button class="flex justify-center items-center gap-2 text-center text-primary text-semibold">See All 
                <lucide-icon [img]="arrowRight" [size]="28" class="flex-shrink-0"></lucide-icon>
            </button>
        </div>
    </div>
</div>