<div class="relative">
    <!-- Normal Button -->
    <button 
      *ngIf="variant === 'normal'"
      [class]="buttonClasses"
      (click)="onClick()"
      [disabled]="disabled">
      <!-- Dynamic Lucide icon -->
      <lucide-icon *ngIf="lucideIcon" [name]="lucideIcon" [img]="getIconImage" [size]="24"></lucide-icon>
      <span>{{ label }}</span>
    </button>

    <!-- Dropdown Button -->
    <div *ngIf="variant === 'dropdown'" class="relative">
      <button 
        [class]="buttonClasses"
        (click)="onClick()"
        [disabled]="disabled">
        <span>{{ selectedOption?.label || label }}</span>
        <lucide-icon [img]="icons.ChevronDown" class="w-4 h-4 transition-transform duration-200"
        [class.rotate-180]="isDropdownOpen"></lucide-icon>
      </button>
  
      <!-- Dropdown Menu -->
      <div 
        *ngIf="isDropdownOpen" 
        class="absolute z-10 w-full mt-1 bg-dark-primary rounded-xl shadow-lg">
        <div class="py-1">
          <button 
            *ngFor="let option of dropdownOptions"
            (click)="selectOption(option)"
            class="w-full px-4 py-2 text-sm text-gray hover:bg-dark-secondary text-left transition-colors duration-200">
            {{ option.label }}
          </button>
        </div>
      </div>
    </div>
  </div>