<div class="relative">
  <!-- Normal Button -->
  <button *ngIf="variant === 'normal'" [class]="buttonClasses" (click)="onClick()" [disabled]="disabled">
    <!-- Dynamic Lucide icon -->
    <lucide-icon *ngIf="lucideIcon" [name]="lucideIcon" [img]="getIconImage" [size]="iconSize"></lucide-icon>
    <span>{{ label }}</span>
  </button>


  <!-- Toggle Switch Button -->
  <div *ngIf="variant === 'toggle'" class="flex bg-dark-secondary rounded-full py-2 px-1 text-primary drop-shadow-dark">
    <button *ngFor="let option of toggleOptions" (click)="selectToggleOption(option)" [class]="'flex items-center gap-2 px-3 py-2 rounded-full text-sm font-normal transition-all duration-200 ' + 
                 (selectedToggleValue === option.value ? 'bg-action border-1 border-black' : 'hover:text-primary')"
      [disabled]="disabled">
      <!-- Icon for toggle option -->
      <lucide-icon *ngIf="option.lucideIcon" [img]="getToggleIconImage(option.lucideIcon)" [size]="16"></lucide-icon>
      <span>{{ option.label }}</span>
    </button>
  </div>

  <!-- Sidebar toggle -->
  <div *ngIf="variant === 'sidebar-toggle'">
    <button [class]="'text-md font-bold border-2 bg-dark-primary border-dark-secondary rounded-full text-md px-2 py-2 text-secondary hover:text-primary hover:border-dark-secondary hover:bg-dark-secondary transition-all duration-200'">
      <div *ngFor="let option of toggleOptions">
        <lucide-icon *ngIf="option.show && option.lucideIcon" [img]="getToggleIconImage(option.lucideIcon)"
          [size]="16"></lucide-icon>
      </div>
    </button>
  </div>

  <!-- Dropdown Button -->
  <div *ngIf="variant === 'dropdown'" class="relative">
    <button [class]="buttonClasses" (click)="onClick()" [disabled]="disabled">
      <span>{{ selectedOption?.label || label }}</span>
      <lucide-icon [img]="icons.ChevronDown" [size]="20" class="transition-transform duration-200"
        [class.rotate-180]="isDropdownOpen"></lucide-icon>
    </button>

    <!-- Dropdown Menu -->
    <div *ngIf="isDropdownOpen" class="absolute z-10 w-full bg-dark-secondary rounded-xl shadow-lg">
      <div class="py-0">
        <button *ngFor="let option of dropdownOptions" (click)="selectOption(option)"
          class="w-full px-4 py-2 text-sm text-secondary hover:bg-dark-primary text-left transition-colors duration-200">
          {{ option?.label || option.value }}
        </button>
      </div>
  </div>
</div>