<div
  #container
  class="w-full relative rounded-lg overflow-hidden"
  [style.height.px]="dimensions.height"
>
  <!-- Loading skeleton -->
  <ng-container *ngIf="isLoading">
    <div class="w-full h-full bg-[#1a1f2e]/50 rounded-lg animate-pulse"></div>
  </ng-container>

  <!-- Bubbles -->
  <ng-container *ngIf="!isLoading">
    <app-bubble
      *ngFor="let bubble of bubbles; trackBy: trackByBubbleId"
      [node]="bubble"
      [asset]="getAssetById(bubble.id)!"
      [isSelected]="false"
      (bubbleClick)="onBubbleClick($event)">
    </app-bubble>
  </ng-container>
</div>
