<div class="w-full h-full bg-dark-secondary p-6 overflow-auto">
  @if (isLoading) {
  <div class="flex items-center justify-center h-64">
    <div class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-action"></div>
  </div>
  } @else if (error) {
  <div class="bg-red-500/10 rounded-lg p-4 text-red-500">
    {{ error }}
  </div>
  } @else if (crypto && cryptoDetail) {
  <div class="max-w-7xl mx-auto">
    <app-crypto-header [cryptoDetail]="cryptoDetail" [crypto]="crypto"></app-crypto-header>

    <app-tabs [tabs]="tabs" 
              [activeTab]="activeTab"
              [cryptoData]="crypto"
              [cryptoDetail]="cryptoDetail!"
              [selectedTimeframe]="selectedTimeframe"
              [chartData]="chartData"
              [volumeData]="volumeData"
              [marketCapData]="marketCapData"
              [tickers]="tickers"
              (activeTabChange)="changeTab($event)"
              (changeTimeframe)="changeTimeframe($event)"
              [isLoadingTickers]="isLoadingTickers">
             
    </app-tabs>
  </div>
  }
</div>