<aside class="w-[280px] min-h-screen bg-dark-secondary  text-text-primary h-full w-64 py-6 justify-content-center">
        <div>
            <img src="assets/images/logo.png" alt="Logo" class="w-10 h-10">
        </div>
        
        <nav class="space-y-4">
            <div class="flex items-center gap-2 text-text-secondary hover:text-text-primary cursor-pointer">
                <span>Dashboard</span>
            </div>
            <div class="flex items-center gap-2 text-text-secondary hover:text-text-primary cursor-pointer">
                <span>Markets</span>
            </div>
            <div class="flex items-center gap-2 text-text-secondary hover:text-text-primary cursor-pointer">
                <span>Transactions</span>
            </div>
        </nav>
</aside>
