<aside class="w-[252px] min-h-screen bg-dark-secondary flex flex-col items-center py-6">
        <!-- Logo container -->
        <div class="flex justify-center w-full px-6 mb-6">
            <img src="assets/images/Logo.png" alt="Logo" class="w-[123px] h-[40px] object-contain">
        </div>

        
        <!-- Avatar section -->
        <div class="flex flex-col gap-3 items-center w-full px-6 mb-6">
            <img src="assets/images/Avatar-Image.png" alt="avatar" class="w-12 h-12 rounded-full">
            <div class="flex flex-col items-center">
                <span class="text-white text-sm font-medium">Erfan Amade</span>
                <div class="flex items-center gap-1">
                    <span class="text-gray text-xs">verified</span>
                    <img src="assets/images/Vector.png" alt="" srcset="">
                </div>
            </div>
        </div>
        
        <div class="w-full flex flex-col items-center">
            <button class="bg-action text-white px-4 py-2 rounded-xl hover:opacity-90 flex items-center gap-2">
                <img src="assets/images/Dashboard-icon.png" class="w-5 h-5">
                <span>Dashboard</span>
            </button>
        </div>

        <nav class="w-full py-8 space-y-6">
            <div class="flex items-center justify-center gap-2 text-text-secondary hover:text-text-primary cursor-pointer">
                <span>Exchange</span>
            </div>
            <div class="flex items-center justify-center gap-2 text-text-secondary hover:text-text-primary cursor-pointer">
                <span>Live Prices</span>
            </div>
            <div class="flex items-center justify-center gap-2 text-text-secondary hover:text-text-primary cursor-pointer">
                <span>Wallet</span>
            </div>
            <div class="flex items-center justify-center gap-2 text-text-secondary hover:text-text-primary cursor-pointer">
                <span>NFT Market</span>
            </div>
            <div class="flex items-center justify-center gap-2 text-text-secondary hover:text-text-primary cursor-pointer">
                <span>Transactions</span>
            </div>
            <div class="flex items-center justify-center gap-2 text-text-secondary hover:text-text-primary cursor-pointer">
                <span>Settings</span>
            </div>
            <div class="flex items-center justify-center gap-2 text-text-secondary hover:text-text-primary cursor-pointer">
                <span>News</span>
            </div>
        </nav>
</aside>
