<div class="flex flex-col gap-4">
  <app-toolbar 
    (numOfRowsSelected)="onNumOfRowsSelected($event)" 
    (searchQueryChanged)="onSearchQueryChanged($event)" 
    (viewSelected)="onViewSelected($event)">
  </app-toolbar>
  
  <app-price-table *ngIf="selectedView === ViewType.LIST" [dataSource]="cryptoData"></app-price-table>
  <app-heat-map *ngIf="selectedView === ViewType.HEATMAP" [data]="heatMapDataWithRows"></app-heat-map>
  <app-bubble-view *ngIf="selectedView === ViewType.BUBBLES" [data]="bubbleData" [isLoading]="false"></app-bubble-view>
  
  <app-paginator 
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    [numberOfItems]="totalItems"
    [showLoadMore]="false"
    (pageClick)="onPageChanged($event)"
    (loadMoreClicked)="onLoadMore()"
    (refresh)="onRefresh()">
  </app-paginator>
</div>