/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";



@theme {
    --font-display: "Satoshi", "sans-serif";
    --color-dark-primary: #161D26;
    --color-dark-secondary: #12181F;
    --color-accent: #FF3E46;
    --color-success: #00C087;
    --color-warning: #F0B90B;
    --color-error: #FF3E46;
    --color-gray: #92929D;
    --color-gray-light: #F0F4F7;
    --color-action: #0CAF60;
    --color-primary: #FFFFFF;
    --color-secondary: #C2C2C2;
}
